In [1]:
from tools import *
from load_data import *
from scraper import *

In [2]:
import pandas as pd

In [22]:
pd.read_csv('../model/5_2_2020_data.csv')

,horse_num,oriental_1,oriental_2,oriental_3,oriental_sum,apple_1,apple_2,apple_3,apple_sum,pro_1,...,total_2,total_3,total_sum,w_h_odd,s_b_odd,result,file_name,sheet_name,W.H. FixOdd 60,S.B.Fix Odd 60
0,1,4,2,0,6.0,2.0,1.0,1.0,4.0,3.0,...,5.0,4.0,18.0,11.0,11.0,0.0,M2018-04-11D,Race(1),NaN,NaN
1,2,0,3,5,8.0,1.0,1.0,3.0,5.0,4.0,...,7.0,11.0,23.0,10.0,10.0,0.0,M2018-04-11D,Race(1),NaN,NaN
2,3,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,41.0,41.0,0.0,M2018-04-11D,Race(1),NaN,NaN
3,4,3,2,0,5.0,2.0,1.0,11.0,14.0,3.0,...,4.0,12.0,24.0,8.0,8.0,0.0,M2018-04-11D,Race(1),NaN,NaN
4,5,3,2,5,10.0,3.0,3.0,3.0,9.0,2.0,...,10.0,8.0,26.0,4.6,4.6,0.0,M2018-04-11D,Race(1),NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20276,12,2,5,3,10.0,2.0,9.0,12.0,23.0,2.0,...,24.0,19.0,49.0,8.5,8.5,0.0,M2020-04-26D,Race(9),9.0,10.0
20277,11,0,2,0,2.0,0.0,1.0,0.0,1.0,0.0,...,5.0,0.0,5.0,8.5,11.0,2.0,M2020-04-26D,Race(9),11.0,12.0
20278,10,0,3,6,9.0,0.0,1.0,1.0,2.0,0.0,...,6.0,7.0,13.0,20.0,26.0,0.0,M2020-04-26D,Race(9),19.0,18.0
20279,3,0,2,3,5.0,0.0,1.0,0.0,1.0,0.0,...,3.0,3.0,6.0,19.0,21.0,0.0,M2020-04-26D,Race(9),21.0,23.0
20280,13,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,20.0,26.0,0.0,M2020-04-26D,Race(9),23.0,23.0

In [5]:
hkjc = HKJCRaceResult('../../../geckodriver')

In [17]:
hkjc.load_race_source('2020', '04', '29', '2')

In [18]:
hkjc.extract_race_tab()

['RACE 2 (613)',
 'Class 5 - 1800M - (40-0)',
 'Going :',
 'GOOD TO FIRM',
 'WAN CHAI HANDICAP',
 'Course :',
 'TURF - "A" Course',
 'HK$ 725,000',
 'Time :',
 '(13.43)',
 '(36.14)',
 '(1:01.01)',
 '(1:25.32)',
 '(1:49.33)',
 'Sectional Time :',
 '13.43',
 '22.71',
 '24.87',
 '24.31',
 '24.01']

In [19]:
hkjc.extract_race_performance()

,Plc.,Horse No.,Horse,Jockey,Trainer,Actual Wt.,Declar. Horse Wt.,Draw,LBW,RunningPosition,Finish Time,Win Odds
0,1,2,VICTORIOUS SEEKER(C091),J Moreira,P O'Sullivan,133,1097,2,-,7 8 8 7 1,1:49.33,2.6
1,2,4,CURLING LUXURY(A083),C Wong,Y S Tsui,125,1031,1,2,2 2 2 2 2,1:49.63,7.5
2,3,12,VIRTUS STAR(B395),Z Purton,F C Lor,120,1068,6,3,5 6 6 5 3,1:49.78,4.8
3,4,3,ENJOYABLE SUCCESS(B150),B Shinn,C W Chang,131,1071,3,4-1/4,10 9 9 9 4,1:50.01,8
4,5,11,GOLDEN GENERAL(A346),C Y Ho,K H Ting,122,1185,8,4-3/4,4 4 4 4 5,1:50.07,27
5,6,8,AEROFLASH(C310),C Schofield,J Moore,127,1201,9,5-1/4,8 7 7 8 6,1:50.15,13
6,7,7,FORTUNE PATROL(A245),K Teetan,A T Millard,129,1025,5,5-1/2,12 11 12 12 7,1:50.20,10
7,8,10,WINNERS BROTHER(C220),M L Yeung,K L Man,123,1055,7,5-1/2,3 3 3 3 8,1:50.22,29
8,9,1,MERIDIAN TALENT(C516),H W Lai,R Gibson,133,1146,11,5-1/2,9 10 10 10 9,1:50.22,331
9,10,5,GOLDEN KID(V232),M Chadwick,K W Lui,130,1079,12,6,11 12 11 11 10,1:50.29,43
10,11,6,BRING IT ON(V407),A Hamelin,C H Yip,129,1141,10,8-1/4,1 1 1 1 11,1:50.66,10
11,12,9,DR LUCKY STAR(C335),M F Poon,D J Hall,123,1026,4,10-1/2,6 5 5 6 12,1:50.99,149

In [20]:
hkjc.extract_race_result()

                       Pool Winning Combination Dividend (HK$)
0                       WIN                   2          26.50
1                     PLACE                   2          12.50
2                     PLACE                   4          21.00
3                     PLACE                  12          17.50
4                  QUINELLA                 2,4          88.00
5            QUINELLA PLACE                 2,4          37.00
6            QUINELLA PLACE                2,12          30.00
7            QUINELLA PLACE                4,12          50.00
8   3 PICK 1(COMPOSITE WIN)                  A1          17.00
9   3 PICK 1(COMPOSITE WIN)                  A2        NOT WIN
10  3 PICK 1(COMPOSITE WIN)                  A3        NOT WIN
11  3 PICK 1(COMPOSITE WIN)                             Detail
12                   TIERCE              2,4,12         647.00
13                     TRIO              2,4,12         152.00
14                  FIRST 4            2,3,4,12         197.00
15                  QUARTET            2,4,12,3       3,517.00
16               1ST DOUBLE                 4/2         209.00
17               1ST DOUBLE                 4/4         109.50